[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
C = SG
ST = Singapore
L = Singapore
O = IoT
CN = cpf-iot

[v3_req]
# Proper key usage for a TLS server
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = cpf-iot
DNS.2 = localhost
IP.1 = 127.0.0.1
IP.2 = 10.0.128.41